# Cmake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/

# Distribution / packaging
build/
dist/
output/
data/

# Dev Files
*.ass
*.json
*.mp4
*.mp3
*.wav
*.png
*.zip
*.ttf
*.jpg
*.png
*.jpeg
*.txt
